.App {
  text-align: center;
  /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
h1{
  font-size:100px;
}
p{
  font-size: smaller;
  font-weight: bold;
}

.App-header {
  background-image: url('https://images.squarespace-cdn.com/content/v1/57113464356fb0f11300df09/1636211207914-HMI46CYD1SJH6ZTAQPTR/ARC_100370_BranchingUniverse_aa_2D_0112.jpg?format=2500w') ;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.headerH6{
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: medium;
  font-weight:bold;
  letter-spacing: 2.5px;
}

.h6{
  margin-top: 2px;
  margin-bottom: 1px;
  font-size: small;
  font-weight: bold;
  letter-spacing: 2.5px;
}

.mainButton{
  display: inline-block;
  padding: 15px 25px;
  /* font-weight: lighter;
  letter-spacing: 2px; */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 28px;
  letter-spacing: 1px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #419cd8;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.mainButton:hover {background-color: #5da7d8}

.mainButton:active {
  background-color: #419cd8;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.secondaryButton {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 10px;
  display: inline-block;
  padding: 5px 10px;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ac6fcd;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #999;
}

.secondaryButton:disabled{
  background-color: rgb(94, 93, 93);
}

button:hover {background-color: #9a56bf}

button:active {
  background-color: #ac6fcd;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
